In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv("http://bit.ly/uforeports")

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
#We can check column names of a data frame using columns attribute
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

##### Now let say we want to change column names "Colors Reported" and "Shape Reported" to "Colors_Reported" and "Shape_Reported"

In [11]:
#It can be done using rename function
ufo.rename(columns={'Colors Reported':'Colors_Reported','Shape Reported':'Shape_Reported'},inplace=True)

In [12]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [13]:
#If we've to change all column names, we can do so by creating a list and assigning it to .columns attribute
col_names = ['city','colors reported','shape reported', 'state','time']
ufo.columns = col_names

In [14]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

###### We can also update column names while reading the file

In [24]:
ufo = pd.read_csv('http://bit.ly/uforeports',names=col_names)

In [25]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

###### But what if we've a data frame with no. of columns > 100 and we've space in columns names.

In [30]:
#In that case we can use replace function and replace space with underscore
ufo.columns = ufo.columns.str.replace(' ','_')

In [31]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')