In [1]:
import pandas as pd

In [2]:
#If no parameter is passed by default read_table considers separators as tab space.
orders = pd.read_table('http://bit.ly/chiporders')

In [3]:
#head shows only 5 records by default. However you can pass any number as parameter to see that many rows i.e. head(10)
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [24]:
#We can check type of data frame using type method. For a data frame type should always be DataFrame
type(orders)

pandas.core.frame.DataFrame

In [25]:
#We can check data types of each column of a data frame using dtypes attribute
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [20]:
#describe function shows the descriptive statistics about columns which are numeric
#In the current data frame order_id and quantity columns are of numeric data types
orders.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [26]:
#If you want to check descriptive statistics about columns which are not of numeric types i.e. object or string types
orders.describe(include=['object'])

           item_name choice_description item_price
count           4622               3376       4622
unique            50               1043         78
top     Chicken Bowl        [Diet Coke]     $8.75
freq             726                134        730

#### Reading pipe seperated file

In [11]:
#now reading data which is | separated....header is set to None coz data doesn't has any header
colnames = ['user_id','age','gender','occupation','zipcode'] #creating headers as data doesn't has any header
movies = pd.read_table('http://bit.ly/movieusers',sep="|",header=None,names=colnames)

In [12]:
movies.head()

   user_id  age gender  occupation zipcode
0        1   24      M  technician   85711
1        2   53      F       other   94043
2        3   23      M      writer   32067
3        4   24      M  technician   43537
4        5   33      F       other   15213

For more info on "read_table" function in pandas [CLICK HERE](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)